.outer-container {
    width: 100%;
    height: auto;
    position: relative;
    // background: rgb(63, 81, 182);

    .donut-container-header {
        width: 100%;
        height: 43px;
        // background: rgb(83, 165, 58);
        width: 100%;
        height: 20px;
        color: white;
        margin-bottom: 10px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
    }

    .donut-container {
        padding: 8px 0 0 0;
        // z-index: 3 !important;
    }

    .doc-icon {
        color: white;
        position: absolute;
        top: 35%;
        left: 42%;
    }

    .hover-box {
        pointer-events: all;
        border: 1px solid white;
        color: white;
        position: absolute;
        top: 5%;
        left: 25%;
        width: 150px;
        height: 150px;
        z-index: 3;
    }

    .hover-container {
        color: #666682;
        font-size: 10px;
        font-family: monospace;
        position: absolute;
        top: 14%;
        padding: 10px 0 0 135px;
    }

    .programming-header {
        width: 100%;
        height: 43px;
        margin-top: 19%;
        width: 100%;
        height: 20px;
        color: white;
        margin-bottom: 26px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
    }
}

// .block-1 {
//     .mat-progress-bar {
//         height: 20px;
//     }
//     .mat-progress-bar-fill::after {
//         background-color: red;
//     }
//     .mat-progress-bar-buffer {
//         background: blue;
//     }
// }

.each-progress {
    margin-bottom: 20px;
    padding: 0px 13px !important;
    position: relative;
    .tech-title-header {
        width: 100%;
        height: 43px;
        /* margin-top: 25%; */
        width: 100%;
        height: 20px;
        color: #c3b5b5;
        /* margin-bottom: 50px; */
        font-family: Roboto;
        font-size: 11px;
        font-weight: 200;
        // font-size: 16px;
    }
}

.progress-percent {
    position: absolute;
    z-index: 2;
    width: 100%;
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    top: 56%;
    left: 7%;
}
