<div class="outer-container">

    <div class="donut-container-header" fxLayoutAlign="center center">
      TECH STACK
    </div>
  
    <div  style="position: relative;">
      <div *ngIf="showHover" class="doc-icon" [style.top]="styleTop" [style.left]="styleLeft">
  
        <img *ngIf="showAngular && !showIdea && !showNode" @fade style="width: 30px;" [ngStyle]="{'width': '40px'}"
          src="https://img.icons8.com/color/48/000000/angularjs.png" />
  
        <img *ngIf="!showAngular && !showIdea && showNode" @fade style="width: 30px;" [ngStyle]="{'width':  '45px'}"
          src="https://img.icons8.com/color/48/000000/nodejs.png" />
  
        <img *ngIf="!showAngular && showIdea && !showNode" @fade style="width: 30px;" [ngStyle]="{'width': '45px' }"
          src="https://img.icons8.com/plasticine/100/000000/idea.png" />
  
      </div>
  
      <canvas baseChart #myChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
        [options]="chartOptions" [colors]="dColors" (chartClick)="NavigateOnChartClick($event)"
        (chartHover)="onChartHover($event)">
      </canvas>
  
    </div>
  
    <div class="programming-header" fxLayoutAlign="center center" (click)="show = !show">
      PROGRAMMING EXPERIENCE
    </div>
  
    <div #scrolling *ngFor="let block of blockList; let idx = index" class="each-progress">
      <div class="tech-title-header">
        {{block.title}}
      </div>
      <div class="progress-percent">
        {{block.percent}}%
      </div>
      <div [class]="blockList[idx].style">
  
        <mat-progress-bar [mode]="block.mode" [value]="block.value" [bufferValue]="block.bufferValue">
        </mat-progress-bar>
  
      </div>
    </div>
  
  </div>