.outest-container {
    height: auto;
    width: 100%;
    // overflow-y: scroll;
    background: #2b2b2b;
    padding: 40px 40px 20px 30px;
    .page-navgation {
        cursor: pointer;
        margin-bottom: 4px !important;
        color: white;
    }
    .outer-container {
        width: 100%;
        // height: auto;
        // min-height: 42% !important;
        background: #242121;
        // min-width: 714px;

        // .person-details {
        //     width: 100%;
        //     height: 100%;
        // overflow: auto;
        .person-flex {
            // background: lightblue;
            position: relative;
            width: 100%;
            height: auto;
            padding: 20px;
            // overflow-y: scroll;
            // min-height: 130px;
            // min-width: 698px;
            .name-and-designation {
                height: 100%;
                // padding: 10px 0px 0px 0px;
                .name {
                    color: white;
                    margin-bottom: 10px;
                    font-family: Roboto;
                    font-weight: bold;
                    font-size: 23px;
                }
                .designation {
                    color: #4183a4;
                    font-family: Roboto;
                    font-weight: 300;
                }
            }
            .detail-element {
                // width: 100% !important;
                font-family: Roboto;
                .header {
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                }
                .ans {
                    color: #888787;
                    font-size: 13px;
                    font-weight: 300;
                }
            }

            .resume-download-container {
                position: absolute;
                right: 1%;
                top: 5%;
                .download-resume-img {
                    width: 21px;
                    cursor: pointer;
                }
            }
        }
        // }
        .description {
            // width: 155%;
            height: 60px;
            font-weight: 300;
            font-size: 14px;
            font-family: Roboto;
            color: #888787;
        }
    }

    .profile-pic-xs {
        height: 190px !important;
    }

    .name-des-xs {
        height: 131px !important;
    }

    .other-details-xs {
        height: 154px !important;
    }

    .person-flex-part {
        // height: 545px !important;
        min-height: 100vh !important;
    }

    .details-header-margin {
        margin-right: 10px !important;
    }

    .light-blue {
        color: #4183a4 !important;
    }
    .profile-pic {
        width: 164px;
    }

    // second container starts here --------------

    .second-container {
        width: 100%;
        height: auto !important;
        // height: 100%;
        color: white;
        // padding: 10px;
        margin-bottom: 2px !important;
        // min-width: 714px;

        background: #242121;

        .second-flex-container {
            color: white;
            height: auto;
            // padding: 10px;
            // border: 1px solid black;
            .expansion-container {
                // background: #3e3c3c;
                padding: 10px;
                // min-width: 450px;
                border-right: 4px solid #2b2b2b;
            }
            .stats-container {
                // background: lightseagreen;
                // background: #242121;
                padding: 10px;
                height: auto;
                // min-width: 239px;
                // min-height: 700px;
            }

            .stats-container-xs {
                min-height: 50vh !important;
            }
        }

        // .flex-second-container{
        //     min-height:100vh !important;
        // }
    }
}

.flex-second-container {
    // height: 545px !important;
    min-height: 50vh !important;
}

.full-height {
    height: 100%;
}

.footer-container {
    color: #a5a0a0;
    font-family: monospace;
    font-size: 10px;
}

.outer-container {
    border: 1px solid black;
    // height: 40px;
    // overflow: auto;
    padding: 20px;
    .inner-container {
        display: block;
        border: 1px solid blue;
        padding: 20px;
    }

    .inner-container-2 {
        display: block;
        border: 1px solid red;
        padding: 20px;
        height: 300px;
        width: 200px;
    }

    .inner-container-3 {
        border: 1px solid lightcoral;
        height: 100%;
        position: relative;
    }

    .small-box-0 {
        border: 2px solid green;
        width: 40px;
        height: 40px;
        z-index: 1;
    }

    .small-box {
        border: 2px solid black;
        width: 40px;
        height: 40px;
    }
}

// working with SCSS and its featurs


@import './variables';
@import './custom';



