.bubble-outer-container {
    padding: 10px;

    .circles-container {
    }

    .round-figure {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #575656;
    }

    .skill-container{
        color: #c3b5b5;
    }
}
